ion-card-content {
    border-bottom: 1px solid #ddd;
}

// ion-item {
//     margin-bottom: 0;
// }

// .inp_bor {
//     border: 1px solid #666;
//     border-radius: 6px;
//     margin-bottom: 12px;
//     padding: 4px 8px !important;
// }

.update_qty{
    font-size: 26px;
}
