<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" ion-text-center">

  <ion-card>
    <ion-card-header class="ion-text-start">
      Nota : {{nota}}
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">
                Tanggal :
                <h2>{{data.tanggal}}</h2>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">
                Jam :
                <h2>{{data.jam}}</h2>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none">
        <ion-label position="stacked">
          Nama Pelanggan :
          <h2>{{data.nama_pelanggan}}</h2>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="ion-text-start">
      Produk
    </ion-card-header>
    <ion-card-content class="ion-no-padding">

      <div *ngIf="empty" class="ion-padding">
        <ion-note>Silahkan klik tombol "Tambah Produk" di bawah untuk menambah produk.</ion-note>
      </div>

      <ion-list *ngIf="!empty">
        <ion-item class="ion-no-padding" *ngFor="let db of items">
          <ion-thumbnail class="ion-margin-start">
            <img src="assets/images/noimage.png">
          </ion-thumbnail>
          <ion-label class="ion-padding-horizontal">
            <div style="font-weight: 500;">{{db.nama_produk}}</div>
            <table>
              <tr>
                <td>Rp. {{db.harga_jual | number}} x {{db.kuantiti}}</td>
              </tr>
            </table>
            <ion-note>{{db.keterangan}}</ion-note>
          </ion-label>
        </ion-item>
      </ion-list>
      <br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="ion-text-start">
      Total
    </ion-card-header>
    <ion-card-content>
      <h1 class="ion-padding-top" style="font-weight: 600;">
        Rp. {{total | number}}
      </h1>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="ion-text-start">
      Pembayaran
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="stacked">
                Pembayaran :
                <h2>{{data.pembayaran | number}}</h2>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="stacked">
                Kembalian :
                <h2>{{data.pembayaran - total | number}}</h2>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>