<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>

  <ion-searchbar class="ion-no-padding ion-padding-bottom" color="light" animated debounce="500"
    placeholder="Cari Produk" [(ngModel)]="pencarian" (ionFocus)="inputFocus()" (ionBlur)="inputBlur()"
    (ionInput)="ionViewDidEnter()">
  </ion-searchbar>


  <ion-card class="ion-no-margin ion-margin-bottom" *ngFor="let db of data" [routerLink]="['/produk-detail', db.id]">
    <ion-card-content class="ion-no-padding">
      <ion-item class="ion-no-padding" detail="true" lines="none"
        style="border-radius:0;border-top:1px solid #ddd;vertical-align: top;">
        <ion-thumbnail class="ion-margin-start" style="position:relative;">
          <img class="foto" [src]="db.foto" onerror="this.src='/assets/images/noimage.png'">
        </ion-thumbnail>
        <ion-label class="ion-padding-horizontal">
          <div style="font-weight: 500;">{{db.nama_produk}}</div>
          <table>
            <tr>
              <td>Harga Pokok</td>
              <td>:</td>
              <td align="right">{{db.harga_pokok | number}}</td>
            </tr>
            <tr>
              <td>Harga Jual</td>
              <td>:</td>
              <td align="right">{{db.harga_jual | number}}</td>
            </tr>
            <tr>
              <td style="color: #918f8f;">Stok</td>
              <td style="color: #918f8f;">:</td>
              <td align="right" style="color: #918f8f;">{{db.stok}}</td>
            </tr>
          </table>
          <!-- <ion-note>Stok : {{db.stok}}</ion-note><br> -->
          <ion-note>{{db.keterangan}}</ion-note>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-footer *ngIf="keyboardShown==false" class="ion-padding ion-no-border ion-text-center">
  <ion-button [routerLink]="['/produk-detail','']">Tambah Produk</ion-button>
</ion-footer>