<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <div class="ion-margin-bottom" style="border-bottom: 1px solid #888; height:50%;">
    <img class="ion-margin" src="assets/images/icon.png" width="100">
    <div style="font-weight:500;">KATSIR versi {{versi}}</div>
    <ion-note style="color: #666;font-style:normal;">Aplikasi Kasir - Point of Sale</ion-note>
  </div>

  <div class="ion-margin-top">
    <div> Melayani pembuatan berbagai aplikasi Android&nbsp;&&nbsp;Ios :</div>
    <ion-button href="tel:+6282225996783" fill="clear" style="color:#27ae60;font-weight:500;">
      <ion-icon name="logo-whatsapp"></ion-icon>&nbsp;&nbsp;082225996781
    </ion-button>
  </div>

</ion-content>