<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Laporan Penjualan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item lines="none">
    <table>
      <tr>
        <td style="font-size:16px;font-weight:500;vertical-align:middle;" width="1">
          Bulan&nbsp;:
        </td>
        <td style="padding-right:14px;">
          <!-- <ion-datetime [(ngModel)]="bulan" displayFormat="MMMM YYYY"
            monthNames="Januari, Februari, Maret, April, Mei, Juni, Juli, Agustus, September, Oktober, November, Desember"
            (ionChange)="ionViewDidEnter()"></ion-datetime> -->


          <ion-datetime-button datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" [(ngModel)]="bulan" locale="id-ID" presentation="month-year"
                [showDefaultButtons]="true" doneText="Pilih" cancelText="Batal"
                (ionChange)="ionViewDidEnter()"></ion-datetime>
            </ng-template>
          </ion-modal>
        </td>
        <td width="100%"></td>
      </tr>
    </table>
  </ion-item>

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <table>
        <tr>
          <th>Nota</th>
          <th style="text-align: right;">Total HPP</th>
          <th style="text-align: right;">Total Jual</th>
          <th style="text-align: right;">Laba</th>
        </tr>
        <tr *ngFor="let db of data" [routerLink]="['/penjualan-detail', db.nota]">
          <td>{{db.nota}}</td>
          <td align="right">{{db.total_pokok | number}}</td>
          <td align="right">{{db.total_jual | number}}</td>
          <td align="right">{{db.total_laba | number}}</td>
        </tr>
        <tr style="border-top:2px solid #aaa;">
          <td style="font-weight:500;">
            &nbsp;
          </td>
          <td align="right">
            <b>{{grand_pokok | number}}</b>
          </td>
          <td align="right">
            <b>{{grand_jual | number}}</b>
          </td>
          <td align="right">
            <b>{{grand_laba | number}}</b>
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>