.total {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

table {
    border-radius: 6px;
    tr {
       
        th {
            background-color: #666;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            padding: 4px 6px;
            text-align: left;
        }
        td {
            border-top: 1px solid #ddd;
            font-size: 15px;
            padding: 4px 6px;
            vertical-align: top;
        }
    }
}
