<ion-content class="ion-padding" style="--background:#fff">

  <ion-searchbar class="ion-no-padding" color="light" animated debounce="500" placeholder="Cari Produk"
    (ionFocus)="inputFocus()" (ionBlur)="inputBlur()" (ionChange)="ionViewDidEnter($event)">
  </ion-searchbar>

  <ion-list>
    <ion-item class="ion-no-padding" *ngFor="let db of data" detail="true"
      (click)="tambah(db.id, db.harga_pokok, db.harga_jual)">
      <ion-thumbnail class="ion-margin-start">
        <img src="assets/images/noimage.png">
      </ion-thumbnail>
      <ion-label class="ion-padding-horizontal">
        <div style="font-weight: 500;">{{db.nama_produk}}</div>
        <table>
          <tr>
            <td>Harga Pokok</td>
            <td>:</td>
            <td align="right">{{db.harga_pokok | number}}</td>
          </tr>
          <tr>
            <td>Harga Jual</td>
            <td>:</td>
            <td align="right">{{db.harga_jual | number}}</td>
          </tr>
        </table>
        <!-- <ion-note>{{db.keterangan}}</ion-note> -->
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>