<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ubah Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <ion-card>
      <ion-card-content class="ion-no-padding ion-padding-vertical">

        <ion-item lines="none">
          <ion-label position="stacked">Password Lama :</ion-label>
          <ion-input type="password" formControlName="password_lama" (ionFocus)="inputFocus()" placeholder="*****"
            required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('password_lama')!.hasError('required')">
            Silahkan isi Password Lama.
          </ion-chip>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Password Baru :</ion-label>
          <ion-input type="password" formControlName="password_baru" (ionFocus)="inputFocus()" placeholder="*****"
            required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('password_baru')!.hasError('required')">
            Silahkan isi Password Baru.
          </ion-chip>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Konfirmasi Password Baru :</ion-label>
          <ion-input type="password" formControlName="password_konf" (ionFocus)="inputFocus()" placeholder="*****"
            required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('password_konf')!.hasError('required')">
            Silahkan isi Konfirmasi Password Baru.
          </ion-chip>
          <ion-chip color="danger"
            *ngIf="isSubmitted && myForm.get('password_baru')!.value!=myForm.get('password_konf')!.value">
            Password Baru harus sama dengan Konfirmasi Password baru.
          </ion-chip>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <div class="ion-margin-bottom ion-text-center">
      <ion-button class="ion-padding-bottom btn_submit ion-text-center" type="submit">Simpan</ion-button>
    </div>
    <br>
  </form>
</ion-content>