<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pengaturan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content class="ion-no-padding ion-padding-top">

      <ion-item lines="none" style="vertical-align: bottom">
        <ion-label position="stacked">
          Nama Usaha :
          <h2>{{nama_usaha}}</h2>
        </ion-label>
        <ion-button slot="end" fill="outline" (click)="ubah_usaha()">edit</ion-button>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">
          Nama User :
          <h2>{{nama_user}}</h2>
        </ion-label>
        <ion-button slot="end" fill="outline" (click)="ubah_user()">edit</ion-button>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">
          Password :
          <h2>******</h2>
        </ion-label>
        <ion-button slot="end" fill="outline"  [routerLink]="['/setting-password']">edit</ion-button>
      </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>