<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Riwayat Penjualan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item lines="none">
    <!-- <ion-label position="fixed">bulan :</ion-label>
    <ion-datetime [(ngModel)]="bulan" displayFormat="MMMM"
      monthNames="Januari, Februari, Maret, April, Mei, Juni, Juli, Agustus, September, Oktober, November, Desember"
      style="min-width: 200px;"></ion-datetime> -->
    <table>
      <tr>
        <td style="font-size:16px;font-weight:500;vertical-align:middle;" width="1">
          Bulan&nbsp;:
        </td>
        <td style="padding-right:14px;">
          <!-- <ion-datetime [(ngModel)]="bulan" displayFormat="MMMM YYYY"
            monthNames="Januari, Februari, Maret, April, Mei, Juni, Juli, Agustus, September, Oktober, November, Desember"
            (ionChange)="ionViewDidEnter()"></ion-datetime> -->

          <ion-datetime-button datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" [(ngModel)]="bulan" locale="id-ID" presentation="month-year"
                [showDefaultButtons]="true" doneText="Pilih" cancelText="Batal"
                (ionChange)="ionViewDidEnter()"></ion-datetime>
            </ng-template>
          </ion-modal>

        </td>
        <td width="100%"></td>
      </tr>
    </table>
  </ion-item>

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <table>
        <tr>
          <th>Nota</th>
          <th>Waktu</th>
          <th>Pelanggan</th>
          <th style="text-align: right;">Total</th>
        </tr>
        <tr *ngFor="let db of data" [routerLink]="['/penjualan-detail', db.nota]">
          <td>{{db.nota}}</td>
          <td style="font-size:13px;">{{db.tanggal}}<br>{{db.jam}}</td>
          <td>{{db.nama_pelanggan}}</td>
          <td align="right">{{db.total | number}}</td>
        </tr>
        <tr style="border-top:2px solid #aaa;">
          <td colspan="3" style="font-weight:500;">
            Grand Total :
          </td>
          <td align="right">
            <b>{{grandtotal | number}}</b>
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card *ngFor="let db of data" [routerLink]="['/penjualan-detail', db.nota]">
    <ion-card-header class="ion-text-start">
      Nota : {{db.nota}}
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label position="stacked">
              <b>Nama Pelanggan :</b>
              <div>{{db.nama_pelanggan}}</div>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label position="stacked">
              <b>Waktu :</b>
              <div>{{db.tanggal}} {{db.jam}}</div>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-header>

      <table>
        <tr>
          <td class="total">
            Total :
          </td>
          <td align="right" class="total">
            Rp. {{db.total | number}}
          </td>
        </tr>
      </table>
    </ion-card-header>
  </ion-card> -->

</ion-content>