<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="animate__animated animate__fadeIn animate__faster">
    <h1 style="margin-bottom:36px;height:40px;">{{nama_usaha}}</h1>

    <ion-card>
      <ion-card-content class="ion-no-padding ion-padding-bottom">
        <ion-item lines="none">
          <ion-label position="stacked">Password :</ion-label>
          <ion-input type="password" [(ngModel)]="password" placeholder="*****"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button class="ion-padding btn_submit" (click)="login()">Login</ion-button>
  </div>
</ion-content>