<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Transaksi Penjualan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card *ngFor="let db of data" [routerLink]="['/penjualan-detail', db.nota]">
    <ion-card-header class="ion-text-start">
      <!-- <table>
        <tr>
          <td style="color: #fff;"> -->
      Nota : {{db.nota}}
      <!-- </td>
          <td align="right">
            <ion-button class="ion-no-margin text-align-right" color="light" fill="outline" size="small">
              Detail <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </table> -->
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label position="stacked">
              <b>Nama Pelanggan :</b>
              <div>{{db.nama_pelanggan}}</div>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label position="stacked">
              <b>Waktu :</b>
              <div>{{db.tanggal}} {{db.jam}}</div>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-header>

      <table>
        <tr>
          <td class="total">
            Total :
          </td>
          <td align="right" class="total">
            Rp. {{db.total | number}}
          </td>
        </tr>
      </table>
    </ion-card-header>
  </ion-card>

</ion-content>

<ion-footer class="ion-padding ion-no-border ion-text-center">
  <!-- <ion-button [routerLink]="['/penjualan-detail','']">Tambah Transaksi</ion-button> -->
  <ion-button [routerLink]="['/penjualan-create']">Tambah Transaksi</ion-button>
</ion-footer>