<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" mode="md" swipeGesture="false">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>{{nama_usaha}}</ion-list-header>
          <ion-note>{{nama_user}}</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 0" routerDirection="root" [routerLink]="['/produk']" lines="none"
              detail="false" [class.selected]="selectedIndex == 0">
              <ion-icon slot="start" name="cube"></ion-icon>
              <ion-label>Data Produk</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 1" lines="none" detail="false" [class.selected]="selectedIndex == 1"
              (click)="checkProduct()">
              <ion-icon slot="start" name="print"></ion-icon>
              <ion-label>Kasir</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 2" routerDirection="root" [routerLink]="['/penjualan-riwayat']"
              lines="none" detail="false" [class.selected]="selectedIndex == 2">
              <ion-icon slot="start" name="time"></ion-icon>
              <ion-label>Riwayat Penjualan</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 3" routerDirection="root" [routerLink]="['/laporan-penjualan']"
              lines="none" detail="false" [class.selected]="selectedIndex == 3">
              <ion-icon slot="start" name="reader"></ion-icon>
              <ion-label>Laporan Penjualan</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 4" routerDirection="root" [routerLink]="['/setting']" lines="none"
              detail="false" [class.selected]="selectedIndex == 4">
              <ion-icon slot="start" name='settings'></ion-icon>
              <ion-label>Pengaturan</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 5" routerDirection="root" [routerLink]="['/info']" lines="none"
              detail="false" [class.selected]="selectedIndex == 5">
              <ion-icon slot="start" name='information-circle'></ion-icon>
              <ion-label>Info</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list id="inbox-list"> -->
        <ion-menu-toggle auto-hide="false">
          <div class="ion-padding ion-text-center">
            <ion-button color="danger" fill="clear">
              <ion-label style="font-weight: 400;" (click)="keluar()">keluar</ion-label>
            </ion-button>
          </div>
        </ion-menu-toggle>
        <!-- </ion-list> -->

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>