<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!id">Tambah Produk</ion-title>
    <ion-title *ngIf="id">Update Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <ion-card class="ion-padding-bottom">
      <ion-card-content class="ion-no-padding ion-padding-top">

        <ion-item lines="none">
          <ion-label position="stacked">Nama Produk :</ion-label>
          <ion-input type="text" formControlName="nama_produk" (ionFocus)="inputFocus()" placeholder="Nama Produk"
            required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('nama_produk')!.hasError('required')">
            Silahkan isi Nama Produk.
          </ion-chip>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Harga Pokok :</ion-label>
          <ion-input type="number" formControlName="harga_pokok" (ionFocus)="inputFocus()" placeholder="0" required>
          </ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('harga_pokok')!.hasError('required')">
            Silahkan isi Harga Pokok.
          </ion-chip>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Harga Jual :</ion-label>
          <ion-input type="number" formControlName="harga_jual" (ionFocus)="inputFocus()" placeholder="0" required>
          </ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('harga_jual')!.hasError('required')">
            Silahkan isi Harga Jual.
          </ion-chip>
          <ion-chip color="warning"
            *ngIf="myForm.get('harga_jual')!.value < myForm.get('harga_pokok')!.value && myForm.get('harga_jual')!.touched">
            <table>
              <tr>
                <td>
                  <ion-icon style="color:#e67e22;font-size:18px;" name="warning"></ion-icon>
                </td>
                <td style="color:#e67e22;">harga jual kurang dari harga pokok. </td>
              </tr>
            </table>
          </ion-chip>
          <ion-chip color="warning"
            *ngIf="myForm.get('harga_jual')!.value == myForm.get('harga_pokok')!.value && myForm.get('harga_jual')!.touched">
            <table>
              <tr>
                <td>
                  <ion-icon style="color:#e67e22;font-size:18px;" name="warning"></ion-icon>
                </td>
                <td style="color:#e67e22;">harga jual sama dengan harga pokok. </td>
              </tr>
            </table>
          </ion-chip>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Stok :</ion-label>
          <ion-input type="number" formControlName="stok" (ionFocus)="inputFocus()" placeholder="0"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Keterangan :</ion-label>
          <ion-input type="text" formControlName="keterangan" (ionFocus)="inputFocus()" placeholder="Keterangan">
          </ion-input>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <div class="square ion-margin-top" (click)="ubah_foto()">
      <img class="foto" [src]="foto_url" onerror="this.src='/assets/images/noimage.png'">
      <div class="tombol_ubah">ubah foto Produk</div>
    </div>

    <div class="ion-margin">
      <ion-button *ngIf="!id" class="ion-padding btn_submit" type="submit">Simpan</ion-button>
      <ion-button *ngIf="id" class="ion-padding btn_submit" type="submit">Update</ion-button>
    </div>
  </form>



  <ion-button *ngIf="id" class="ion-padding btn_submit" color="danger" fill="clear" (click)="hapus()">Hapus</ion-button>

  <br><br>

</ion-content>