<!-- <ion-header class="animate__animated animate__fadeIn animate__delay-1s animate__faster"> -->
<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>Registrasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="animate__animated animate__fadeIn animate__delay-1s animate__faster"> -->
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <ion-card>
      <ion-card-content class="ion-no-padding ion-padding-vertical">

        <ion-item lines="none">
          <ion-label position="stacked">Nama Usaha :</ion-label>
          <ion-input class="ion-no-margin" formControlName="nama_usaha" placeholder="Nama Usaha" required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('nama_usaha')!.hasError('required')">
            Silahkan isi Nama Usaha.
          </ion-chip>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Nama User :</ion-label>
          <ion-input formControlName="nama_user" placeholder="Nama User" required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('nama_user')!.hasError('required')">
            Silahkan isi Nama User.
          </ion-chip>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Password Baru :</ion-label>
          <ion-input type="password" formControlName="password" placeholder="*****" required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('password')!.hasError('required')">
            Silahkan isi Password Baru.
          </ion-chip>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Konfirmasi Password Baru :</ion-label>
          <ion-input type="password" formControlName="password_konf" placeholder="*****" required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('password_konf')!.hasError('required')">
            Silahkan isi Konfirmasi Password Baru.
          </ion-chip>
          <ion-chip color="danger"
            *ngIf="isSubmitted && myForm.get('password')!.value!=myForm.get('password_konf')!.value">
            Password Baru harus sama dengan Konfirmasi Password baru.
          </ion-chip>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <div class="ion-margin-bottom ion-text-center">
      <ion-button class="ion-padding-bottom btn_submit ion-text-center" type="submit">Simpan</ion-button>
    </div>
    <br>
  </form>
  <!-- </div> -->
</ion-content>