/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


div,
td {
    color: #444;
}

table {
    width: 100%;

    td {
        // border: 1px solid gray;
        font-size: 15px;
        padding-bottom: 2px;
        padding-right: 6px;
        padding-top: 2px;
    }
}

.alert-message {
    font-size: 16px !important;
}

.alert-custom-css {
    font-size: 18px !important;
}

.btn_submit {
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-top: 20px;
    min-width: 180px;
}

ion-datetime,
ion-input {
    --padding-bottom: 8px !important;
    --padding-end: 8px !important;
    --padding-start: 8px !important;
    --padding-top: 8px !important;
    border: 1px solid #999;
    border-radius: 6px;
    color: #444 !important;
    // margin-bottom: 12px;
}

ion-datetime-button {
    white-space: nowrap;
}

ion-card-header {
    --background: #797979;
    --color: #fff;
    padding: 10px;
}

ion-card-content {
    border-top: 1px solid #ddd;
}

ion-chip {
    border-radius: 6px;
    margin-left: 0;
    padding: 0 6px;
}

ion-content {
    --background: #ddd;
}

ion-item {
    margin-bottom: 12px;
}

ion-menu-button {
    color: var(--ion-color-light);
}

ion-modal {
    --border-radius: 14px;
}

ion-note {
    color: #999;
    font-size: 15px;
    // font-style: italic;
}

ion-thumbnail img {
    border-radius: 4px;
}