<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kasir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="listScroll" class=" ion-text-center">

  <ion-card class="ion-padding-bottom">
    <ion-card-header class="ion-text-start">
      Nota : {{nota}}
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">Tanggal :</ion-label>
              <!-- <ion-datetime [(ngModel)]="tanggal" displayFormat="DD/MM/YYYY" (ionFocus)="inputFocus()"></ion-datetime> -->

              <ion-datetime-button datetime="datetime_tanggal"></ion-datetime-button>
            </ion-item>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime_tanggal" [(ngModel)]="tanggal" locale="id-ID" presentation="date"
                  [showDefaultButtons]="true" doneText="Pilih" cancelText="Batal"></ion-datetime>
              </ng-template>
            </ion-modal>

          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">Jam :</ion-label>
              <!-- <ion-datetime [(ngModel)]="jam" displayFormat="HH:mm" (ionFocus)="inputFocus()">
              </ion-datetime> -->

              <ion-datetime-button datetime="datetime_jam"></ion-datetime-button>
            </ion-item>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime_jam" [(ngModel)]="jam" presentation="time" [showDefaultButtons]="true"
                  doneText="Pilih" cancelText="Batal"></ion-datetime>
              </ng-template>
            </ion-modal>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none">
        <ion-label position="stacked">Nama Pelanggan :</ion-label>
        <ion-input class="inp_bor" type="text" [(ngModel)]="nama_pelanggan" (ionFocus)="inputFocus()"
          (ionBlur)="inputBlur()" placeholder="Nama Pelanggan"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="ion-text-start">
      Produk
    </ion-card-header>
    <ion-card-content class="ion-no-padding">

      <div *ngIf="empty" class="ion-padding">
        <ion-note>Silahkan klik tombol "Tambah Produk" di bawah untuk menambah produk.</ion-note>
      </div>

      <ion-list *ngIf="!empty">
        <ion-item class="ion-no-padding" *ngFor="let db of data">
          <ion-thumbnail class="ion-margin-start">
            <img src="assets/images/noimage.png">
          </ion-thumbnail>
          <ion-label class="ion-padding-horizontal">
            <div style="font-weight: 500;">{{db.nama_produk}}</div>
            <table>
              <tr>
                <td>Rp.</td>
                <td>{{db.harga_jual | number}}</td>
                <td width="100%">&nbsp;</td>
                <td></td>
                <td>
                  <ion-icon name="trash-outline" style="font-size: 20px;" color="medium" (click)="delete(db.id_produk)">
                  </ion-icon>
                  &nbsp;
                </td>
                <td>
                  <ion-icon class="update_qty" name="remove-circle-outline" color="medium"
                    (click)="rem_qty(db.id_produk, db.kuantiti)"></ion-icon>
                </td>
                <td align="center" style="color:#666;font-weight:600;">
                  &nbsp;{{db.kuantiti}}&nbsp;
                </td>
                <td>
                  <ion-icon class="update_qty" name="add-circle-outline" color="medium"
                    (click)="add_qty(db.id_produk, db.kuantiti)"></ion-icon>
                </td>
              </tr>
            </table>
            <ion-note>{{db.keterangan}}</ion-note>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content class="ion-no-padding" style="padding: 8px;">
      <ion-button color="medium" style="height:40px;" (click)="modalProduk()">Tambah Produk</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="ion-text-start">
      Total
    </ion-card-header>
    <ion-card-content>
      <h1 class="ion-padding-top" style="font-weight: 600;">
        Rp. {{total | number}}
      </h1>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="ion-text-start">
      Pembayaran
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none">
        <ion-label position="stacked">Pembayaran :</ion-label>
        <ion-input class="ion-text-end inp_bor" type="nummber" [(ngModel)]="pembayaran" placeholder="0"
          (ionInput)="change()" inputmode="decimal" (ionFocus)="inputFocus()" (ionBlur)="inputBlur()"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none">
        <ion-label position="stacked">Kembalian :</ion-label>
        <ion-label class="ion-text-end" style="padding-right: 10px;">Rp. {{kembalian | number}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button class="ion-margin btn_submit" expand="block" (click)="simpan(false)">Simpan</ion-button>
  <ion-button class="ion-margin btn_submit" expand="block" (click)="simpan(true)">Simpan & Cetak</ion-button>

</ion-content>